.table {
  margin-top: 30px;
}
.trow {
  cursor: pointer;
}
.red {
  color: red;
}
.green {
  color: green;
}
.fallngain {
  font-size: 15px;
}
.Search {
  margin-top: 20px;
}
.heading {
  margin-top: 30px;
}
